{% extends "commission_base.html" %}
{% block content %}
<ul>
    {% if user.is_authenticated %}
        <form method = "POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">LOGOUT</button>
        </form>
    {% endif %}
    
    {% for commission in object_list %}
    <li>
        <a href = "{{ commission.get_absolute_url }}">{{ commission.title }}</a> 
    </li>
    <p><b>Created on: </b>{{ commission.created_on }}</p>
    {% endfor %}
</ul>
{% endblock %}