<html>
    <head>
        <title>
            Home Page
        </title>
        <style>
            nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: rgb(137, 180, 220);
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a class="active" href="../../home">Home</a></li>
                <li><a href="../../merchstore/items">Merchstore</a></li>
                <li><a href="../../wiki/articles">Wiki</a></li>
                <li><a href="../../blog/articles">Blog</a></li>
                <li><a href="../../forum/threads">Forum</a></li>
                <li><a href="../../commissions/list">Commissions</a></li>
            </ul>
        </nav>
        <h1>House</h1>
        Nothing to see here...yet.
    </body>
</html>